@media only screen and (min-width: 320px) and (max-width: 420px) {
    /* menu_window */
    #menu_window{
        display: flex;
        flex-direction: column;
    }

    header{
        height: 80vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
    }

    header > img {
        width: 100vw;
    }

    footer{
        height: 20vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    footer > button,#stop_game,#prediction > button,#continue_game,#webcam_help{
        height: 3.2vh;
        width: 40vh;
        margin: 1.2%;
    }

    .avatar{
        display: flex;
        flex-direction: column;
        border-style: solid;
        padding: 1.6%;
        justify-content: space-evenly;
        align-items: center;
        position: relative;
    }

    .avatar > label{
        font-size: 3.2vh;
        padding-bottom: 1.6%;
        padding-top: 1.6%;
    }

    .result_canvas{
        position: absolute;
        left: 0;
        top: 0;
        z-index: -5;
    }

    /* start_window */
    .choice_card,.help_card{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        height: 10vh;
        width: 80vw;
        border-style: solid;
        color: var(--dark);
    }

    .choice_cursor{
        cursor: pointer;
    }

    .choice_card > img,.help_card > img {
        height: 8vh;
    }

    .choice_card > label,.help_card > label{
        font-size: 4vh;
    }

    #choice_footer{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        height: 20vh;
    }

    #choice_footer > label {
        font-size: 1.6vh;
    }

    #scoreboard{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        height: 2.4vh;
        width: 100vw;
    }

    .scores{
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
    }

    #webcam_footer_buttons{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    /* WebCam */
    #cam_frame{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 80vh;
        justify-content: space-evenly;
    }

    video{
        height: 40vh;
        width: 100vw;
    }

    #prediction{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 36vh;
    }

    #loader{
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid #3498db;
        width: 8vh;
        height: 8vh;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
    }

    /* Result Section */
    #result_footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 15vh;
    }

    #result_text{
        font-size: 4vh;
    }

    #result_button{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 16vw;
        justify-content: space-evenly;
    }

    /* Modal */
    #modal{
        display: none;
        position: fixed;
        z-index: 1;
        padding-top: 20vh;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.4);
    }

    #modal_content{
        background-color: #fefefe;
        margin: auto;
        padding: 4vh;
        border: 1px solid #888;
        width: 80%;
        height: 4vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
    }
}